@model SZHPCMS.Models.ResearchStudyViewModel

@{
    ViewBag.Title = "Create Update Study";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                @if (ViewBag.Operation != null)
                {
                    <span>@ViewBag.Operation&nbsp;Reseach Study</span>
                }
            </h1>
        </div>
    </div>
    <!-- /. ROW  -->

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("Back to List", "Index")
                </div>
                <div class="panel-body">

                    <form method="post" action="/ResearchStudy/CreateUpdate" enctype="multipart/form-data">

                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <div class="form-group">
                                @Html.HiddenFor(model => model.ResearchStudyId)
                                @Html.LabelFor(model => model.ResearchStudyCategoryId, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.ResearchStudyCategoryId, Model.Categories, "-- Select Category --")
                                    @Html.ValidationMessageFor(model => model.Categories)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TitleEn, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.TitleEn, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TitleEn)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.TitleAr, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.TitleAr, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TitleAr)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DescriptionEn, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextAreaFor(model => model.DescriptionEn, new { @class = "form-control", @id = "editor_ar" })
                                    @Html.ValidationMessageFor(model => model.DescriptionEn)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DescriptionAr, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextAreaFor(model => model.DescriptionAr, new { @class = "form-control", @id = "editor_en" })
                                    @Html.ValidationMessageFor(model => model.DescriptionAr)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ThemeEn, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.ThemeEn, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ThemeEn)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.ThemeAr, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.ThemeAr, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ThemeAr)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="@ViewBag.Operation" class="btn btn-default" />
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="itemID" value="@ViewBag.ItemID" />
                        <input type="hidden" name="operation" value="@ViewBag.Operation" />
                    </form>

                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
</div>

@section scripts
{

    <script src="//cdn.ckeditor.com/4.5.7/full/ckeditor.js"></script>
    <script type="text/javascript"> CKEDITOR.replace('editor_en'); </script>
    <script type="text/javascript"> CKEDITOR.replace('editor_ar'); </script>
}