@model SZHPCMS.Models.PollOptionViewModel

@{
    ViewBag.Title = "Create Update Poll Option";
}

<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                @if (ViewBag.Operation != null)
                {
                    <span>@ViewBag.Operation&nbsp;Poll Option</span>
                }
            </h1>
           
        </div>
    </div>
    <!-- /. ROW  -->

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("Back to List", "IndexPollOption")
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("CreateUpdatePollOption", "Common", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            <div class="form-group">
                                @Html.LabelFor(model => model.Poll_Id, new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @if (ViewBag.Operation == "Update")
                                    {
                                        @Html.DropDownListFor(model => model.Poll_Id, Model.Polls, "-- Select Category --", new { disabled = "disabled" })

                                    }
                                    else
                                    {
                                        @Html.DropDownListFor(model => model.Poll_Id, Model.Polls, "-- Select Category --")

                                    }
                                    @Html.ValidationMessageFor(model => model.Poll_Id)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Option_En, new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Option_En, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Option_En)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Option_Ar, new { @class = "control-label col-md-2" })
                                <div class="col-md-8">
                                    @Html.TextBoxFor(model => model.Option_Ar, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Option_Ar)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="@ViewBag.Operation" class="btn btn-default" />
                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="itemID" value="@ViewBag.ItemID" />
                    
                        <input type="hidden" name="operation" value="@ViewBag.Operation" />
                    }
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
</div>
