@model SZHPCMS.Models.ProjectViewModel

@{
    ViewBag.Title = "Create Update Project";
}
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                @ViewBag.Operation Project
            </h1>
        </div>
    </div>
    <!-- /. ROW  -->

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("Back To List", "Index")
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("CreateUpdate", "Project", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                @Html.LabelFor(model => model.TitleEn, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.TitleEn, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TitleEn)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.HiddenFor(x => x.DocumentName)
                                @Html.LabelFor(model => model.TitleAr, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.TitleAr, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TitleAr)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DescriptionEn, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextAreaFor(model => model.DescriptionEn, new { @class = "form-control", @id = "editor_en" })
                                    @Html.ValidationMessageFor(model => model.DescriptionEn)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DescriptionAr, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextAreaFor(model => model.DescriptionAr, new { @class = "form-control", @id = "editor_ar" })
                                    @Html.ValidationMessageFor(model => model.DescriptionAr)
                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-offset-2 col-md-4">
                                    <input type="file" class="form-control" name="upImage" onchange="ValidateExtension(this, 'jpg,png,gif')" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="@ViewBag.Operation" class="btn btn-default" />
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-offset-2 col-md-4">
                                    @if (Model != null)
                                    {
                                        if (!string.IsNullOrEmpty(Model.DocumentName))
                                        {
                                            @*<img src="/Images/Project/@Model.ProjectId/@Model.DocumentName" alt="@Model.DocumentName" width="150" height="150" />*@

                                            <img src='@string.Format("/{0}/Project/{1}_{2}", SZHPCMS.Common.Constants.DOCUMENT_UPLOAD_FOLDER, @Model.ProjectId, @Model.DocumentName)' alt="@Model.DocumentName" width="150" height="150" />
                                        }
                                    }

                                </div>
                            </div>
                        </div>

                        <input type="hidden" name="itemID" value="@ViewBag.ItemID" />
                        <input type="hidden" name="operation" value="@ViewBag.Operation" />

                    }
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
</div>

@section scripts
    {
 <script src="//cdn.ckeditor.com/4.5.7/full/ckeditor.js"></script>
<script type="text/javascript"> CKEDITOR.replace('editor_en'); </script>
<script type="text/javascript"> CKEDITOR.replace('editor_ar'); </script>
}