@model SZHPCMS.Models.MagzineViewModel

@{
    ViewBag.Title = "Create Update Magzine";
}
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                @ViewBag.Operation Magzine
            </h1>
        </div>
    </div>
    <!-- /. ROW  -->

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("Back To List", "IndexMagzine")
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("CreateUpdateMagzine", "Archive", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                @Html.LabelFor(model => model.TitleEn, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.TitleEn, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TitleEn)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.TitleAr, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.TitleAr, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.TitleAr)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Date,"{0:MM/dd/yyyy}" ,new { @class = "form-control", @id = "txtYear" })
                                    @Html.ValidationMessageFor(model => model.Date)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FileDoc, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.FileDoc, new { @class = "form-control", @type = "file", onchange = "ValidateExtension(this, 'pdf,doc,docx,xls,xlsx,png,jpg,ppt')" })
                                    @Html.ValidationMessageFor(model => model.FileDoc)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CoverDoc, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.CoverDoc, new { @class = "form-control", @type = "file", onchange = "ValidateExtension(this, 'jpg,png,gif')" })
                                    @Html.ValidationMessageFor(model => model.CoverDoc)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="@ViewBag.Operation" class="btn btn-default" />
                                </div>
                            </div>
                            <div class="form-group">

                                <div class="col-md-offset-2 col-md-2">

                                    @if (Model != null)
                                    {
                                        if (!string.IsNullOrEmpty(Model.CoverName))
                                        {
                                            <img src='@string.Format("/{0}/Magzines/{1}_{2}",SZHPCMS.Common.Constants.DOCUMENT_UPLOAD_FOLDER, @Model.MagzineId, @Model.CoverName)' width="100" height="100" />
                                        }

                                    }

                                </div>
                            </div>

                            <div class="form-group">

                                <div class="col-md-offset-2 col-md-2">

                                    @if (Model != null)
                                    {
                                        if (!string.IsNullOrEmpty(Model.FileDocName))
                                        {
                                            <a href='@string.Format("/{0}/Magzines/{1}_{2}", SZHPCMS.Common.Constants.DOCUMENT_UPLOAD_FOLDER, @Model.MagzineId, @Model.FileDocName)' download>@Model.FileDocName</a>
                                        }

                                    }
                                </div>
                            </div>

                        </div>

                        <input type="hidden" name="itemID" value="@ViewBag.ItemID" />
                        <input type="hidden" name="operation" value="@ViewBag.Operation" />

                    }
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
</div>

@section scripts{

    <link href="~/Content/assets/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <script src="~/Content/assets/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">



        $(document).ready(function () {

            $("#txtYear").datepicker({ autoclose: true });


        });

    </script>
}