@model SZHPCMS.Models.FormViewModel
@using SZHPCMS.Utilities

@{
    ViewBag.Title = "Create Update Form";



}


<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                <span>@ViewBag.Operation Form</span>
            </h1>
        </div>
    </div>
    <!-- /. ROW  -->

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("Back to List", "FormIndex")
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("FormCreateUpdate", "Archive", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">

                                @Html.LabelFor(model => model.NameEn, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.NameEn, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NameEn)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NameAr, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.NameAr, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NameAr)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-4">
                                    <span style="color: #A09C9C"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp;<a style="color: #A09C9C;font-family:Arial" href="javascript:RenderFormDocumentPartialView(null,true)">Add Document</a></span>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="@ViewBag.Operation" class="btn btn-default" />
                                </div>
                            </div>
                            <hr />
                            <h4>  <strong>Attach Files.</strong></h4>
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-8">
                                    <div class="table-responsive">
                                        @if (Model != null)
                                        {

                                            if (Model.Documents != null)
                                            {
                                                if (Model.Documents.Count > 0)
                                                {

                                                    <table class="table table-bordered table-striped ">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    @LocalizedString.T("lblNameEnglish")
                                                                </th>
                                                                <th>
                                                                    @LocalizedString.T("lblNameArabic")
                                                                </th>
                                                                <th>
                                                                    @LocalizedString.T("lblDocument")
                                                                </th>
                                                                <th style="width:12%">
                                                                    @LocalizedString.T("lblAction")
                                                                </th>
                                                            </tr>

                                                        </thead>

                                                        <tbody>
                                                            @foreach (var item in Model.Documents)
                                                            {
                                                                <tr>
                                                                    <td><input value="@item.FormDocumentId" type="hidden" />@item.NameEn</td>
                                                                    <td>@item.NameAr</td>
                                                                    <td><a href='@string.Format("/{0}/Forms/{1}_{2}", SZHPCMS.Common.Constants.DOCUMENT_UPLOAD_FOLDER, @Model.FormId, @item.DocumentName)' download>@item.DocumentName</a> </td>
                                                                    <td class="text-center">
                                                                        <a onclick="RenderFormDocumentPartialView(this,false)" class="btn btn-primary" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                                    </td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                }
                                            }
                                        }
                                    </div>

                                </div>

                            </div>

                        </div>

                        <input type="hidden" value="@ViewBag.Operation" name="operation" id="operation" />
                        <input type="hidden" value="@ViewBag.ItemID" name="itemID" id="itemID" />
                    }
                </div>

                <div class="panel-body">
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Add New File</h4>
                                </div>
                                <div class="modal-body" id="modelbody">

                                    @*@{
                                            var routeValues = new ViewDataDictionary();
                                            routeValues.Add("Operation", ViewBag.Operation);
                                            routeValues.Add("ItemID", ViewBag.ItemID);
                                        }

                                        @Html.Partial("~/Views/Archive/_ucFormDocument.cshtml", new SZHPCMS.Models.FormDocumentViewModel(), @routeValues)*@

                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
</div>

@section scripts
{

    <script type="text/javascript">

        var RemoveImage = function (imageID) {

            var divImageID = 'divImage_' + imageID;

            $.ajax({

                url: '@Url.Action("RemoveDocument","Banner")',
                type: "POST",
                data: JSON.stringify({ docID: imageID }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if (data.Deleted == true) {

                        $('#' + divImageID).remove();

                    }

                },

                error: function (data) {
                    alert(data.statusText);
                }


            });

        }

    </script>


}