@model SZHPCMS.Models.JobApplicantViewModel
@using SZHPCMS.Utilities

@{
    ViewBag.Title = "Applicant Details";
}


<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                <span>Applicant Detail</span>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("Back to List", "JobsApplicants")
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("CreateUpdate", "Career", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)

                            <div class="form-group">
                                @Html.LabelFor(model => model.ApplicantID, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.ApplicantID, new { @class = "form-control" , @readonly="readonly" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.DOB, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @*@Html.TextBoxFor(model => model.DOB, new { @class = "form-control" })*@

                                    @Html.TextBoxFor(m => m.DOB, "{0:MM/dd/yyyy}", new { @class = "form-control", @readonly = "readonly" })

                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.MaritalStatus, new { @class = "control-label col-md-2"  })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.MaritalStatus, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.HomeAddress, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.HomeAddress, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Mobile, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Eduction, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Eduction, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Experience, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Experience, new { @class = "form-control", @readonly = "readonly" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Skills, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Skills, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.Skills)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Resume, new { @class = "control-label col-md-2" })

                                @if (Model != null)
                                {
                                    if (Model.Resume != null)
                                    {
                                        <div class="col-md-4">
                                            @Html.TextBoxFor(model => model.Resume.FileName, new { @class = "form-control"  })
                                        </div>
                                    }
                                }
                            </div>
                        </div>


                        <input type="hidden" value="@ViewBag.Operation" name="operation" />
                        <input type="hidden" value="@ViewBag.ItemID" name="itemID" />
                    }
                </div>
            </div>
        </div>
        <!--End Advanced Tables -->
    </div>

</div>