@model SZHPCMS.Models.ContactViewModel

@{
    ViewBag.Title = "Create Update Contact";
}


<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                <span>@ViewBag.Operation Contact</span>
            </h1>
        </div>
    </div>
    <!-- /. ROW  -->

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("Back To Listing", "IndexContact")
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("CreateUpdateContact", "Contact", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        if (@ViewBag.ErrorMessage != null)
                        {
                            <div class="form-group">
                                <span class="alert alert-danger" style="display:block">@ViewBag.ErrorMessage</span>
                            </div>
                        }

                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CityEn, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.CityEn, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CityEn)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.CityAr, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.CityAr, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.CityAr)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.POBox, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.POBox, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.POBox)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Phone)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Fax, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Fax)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.WorkingHoursEn, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.WorkingHoursEn, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.WorkingHoursEn)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.WorkingHoursAr, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.WorkingHoursAr, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.WorkingHoursAr)
                                </div>
                            </div>


                            <div class="form-group">
                                @Html.LabelFor(model => model.Latitude, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Latitude, new { @class = "form-control" })

                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Longitude, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Longitude, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.DisplayOrder, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.DisplayOrder, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.DisplayOrder)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-2">
                                    <input type="submit" value="@ViewBag.Operation" class="btn btn-default" />
                                </div>
                            </div>
                        </div>

                        <input type="hidden" value="@ViewBag.ItemID" id="hfItemID" name="itemID" />
                        <input type="hidden" value="@ViewBag.Operation" id="hfOperation" name="operation" />
                    }
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
</div>

