@model SZHPCMS.Models.ContactViewModel

@{
    ViewBag.Title = "Create Update";
}


<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Create Update Contact
            </h1>
        </div>
    </div>
    <!-- /. ROW  -->

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Contact Management
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            @Html.ValidationSummary(true)
                            <div class="form-group">
                                @Html.LabelFor(model => model.Contact_Id, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Contact_Id, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Contact_Id)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.City_Ar, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.City_Ar, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.City_Ar)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.City_En, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.City_En, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.City_En)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Location_En, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Location_En, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Location_En)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Location_Ar, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Location_Ar, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Location_Ar)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Latitude, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Latitude, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Latitude)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Longitude, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Longitude, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Longitude)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Phone, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Phone, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Phone)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Fax, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Fax, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Fax)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email)
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Save" class="btn btn-default" />
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
</div>