@model SZHPCMS.Models.LoginViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}


<div class="header-flat">
    <div class="wrapper">
        <div class="logo-home">
            <a href="#.">@HttpContext.Current.Application[SZHPCMS.Common.Constants.SESSION_CMS_TITLE]</a>
            @*<img src="~/Content/images/szhp-logo.gif" alt='' width="267" height="109" />*@
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="login-wrapp marginFixLogin">
    <h3>Recover Password:</h3>
    @if (@ViewData["error"] != "")
    {
        <div role="alert" class="alert alert-danger">
            <i class="fa fa-times"></i> @ViewData["error"]
            <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
        </div>
    }
    @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "", role = "form", @id = "ForgotPasswordForm" }))
    {
        <div class="box-content">
            <div class="form-group has-feedback has-feedback-left">
                <label class="label-role" for="email">Email</label>
                <i class="fa fa-user form-control-feedback"></i>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control custom-control", @id = "email" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>
        <div class="bottom-box">
            <img src="~/Content/assets/images/login-bottom.png" />
        </div>

        <div class="btns-row">

            <div class="btn-rght">
                <input type="submit" value="RECOVER" class="btn btn-primary btn-block" id="btn-login">
            </div>
            <div class="clearfix"></div>
        </div>

    }

</div>
<script>
    window.onload = function () {
        document.getElementById('email').focus();
    }
</script>
<style type="text/css">
    .alert {
        margin-bottom: 0px;
    }

    
</style>