@model IEnumerable<SZHPCMS.Models.TrainingPlanViewModel>

@{
    ViewBag.Title = "Training Plans";
}

@section Header{
    <link href="~/Content/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
}




<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                Training Plans
            </h1>
            @if (TempData[SZHPCMS.Common.Constants.MESSAGE] != null)
            {
                <div class="success">@TempData[SZHPCMS.Common.Constants.MESSAGE]</div>
            }
        </div>
    </div>
    <!-- /. ROW  -->

    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("PerformAction", "TrainingPlan"))
            {
                        <!-- Advanced Tables -->
                @Html.AntiForgeryToken();

                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Html.ActionLink("Create New", "CreateUpdate")
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="tblData">
                                <thead>
                                    <tr>
                                        <th class="th-checkbox"><input type="checkbox" id="chkBoxHeader" /></th>
                                        <th>
                                            @Html.DisplayNameFor(x => x.LocationEn)
                                        </th>
                                        @*<th>
                                                @Html.DisplayNameFor(x => x.LocationAr)
                                            </th>*@

                                        <th>
                                            @Html.DisplayNameFor(x => x.AudienceEn)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(x => x.ThemeEn)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(x => x.TrainingProgram)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(x => x.Date)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(x => x.RowStatus)
                                        </th>
                                        <th class="text-center" style="width:12%">
                                            Actions
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><input type="checkbox" name="chkBoxItem" value="@item.TrainingPlanId" /></td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.LocationEn)
                                            </td>
                                            @*<td>
                                                @Html.DisplayFor(modelItem => item.LocationAr)

                                            <td>*@
                                          
                                            <td>
                                                @Html.DisplayFor(modelItem => item.AudienceEn)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ThemeEn)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.TrainingProgram)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Date)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.RowStatus)
                                            </td>
                                            <td class="text-center">
                                                <a onclick="UpdateMenu(this,'/TrainingPlan/CreateUpdate')" class="btn btn-primary" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                <a class="btn btn-danger" data-toggle="tooltip" data-original-title="Delete" onclick="DeleteMenu(this, '/TrainingPlan/Delete')"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="dv-actions">
                            <div class="form-group">
                                <div class="col-md-4 nopadding">
                                    @Html.DropDownList("ddlActions", (List<SelectListItem>)ViewBag.DropDownMenus)
                                </div>
                                <div class="col-md-8">
                                    <input type="submit" value="Go" class="btn btn-default" id="btnAction" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            <!--End Advanced Tables -->
            }


        </div>
    </div>
</div>
@section scripts{

    @Scripts.Render("~/Content/CMSListing");
}
