@model SZHPCMS.Models.SiteMapViewModel

@{
    ViewBag.Title = "Create Update SiteMap";
}


<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                <span>@ViewBag.Operation Site Map</span>
            </h1>
        </div>
    </div>
    <!-- /. ROW  -->

    <div class="row">
        <div class="col-md-12">
            <!-- Advanced Tables -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    @Html.ActionLink("Back To Listing", "Index")
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("CreateUpdate", "SiteMap", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        if (@ViewBag.ErrorMessage != null)
                        {
                            <div class="form-group">
                                <span class="alert alert-danger" style="display:block">@ViewBag.ErrorMessage</span>
                            </div>
                        }

                        <div class="form-horizontal">
                            <div class="form-group">
                                @Html.HiddenFor(x => x.SiteMapId)
                                @Html.LabelFor(model => model.ParentName, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.DropDownListFor(model => model.ParentId, Model.SiteMaps, "-- Select Parent --")
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NameEn, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.NameEn, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NameEn)
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.NameAr, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.NameAr, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NameAr)
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.URL, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.URL, new { @class = "form-control" })
                                </div>
                            </div>             
                            
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-2">
                                    <input type="submit" value="@ViewBag.Operation" class="btn btn-default" />
                                </div>
                            </div>
                        </div>

                        <input type="hidden" value="@ViewBag.ItemID" id="hfItemID" name="itemID" />
                        <input type="hidden" value="@ViewBag.Operation" id="hfOperation" name="operation" />
                    }
                </div>
            </div>
            <!--End Advanced Tables -->
        </div>
    </div>
</div>

