@model IEnumerable<SZHPCMS.Models.EServiceCategoryViewModel>

@{
    ViewBag.Title = "Service Categories";
}

@section Header{
    <link href="~/Content/assets/js/dataTables/dataTables.bootstrap.css" rel="stylesheet" />
}
<div id="page-inner">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">
                E Service Categories
            </h1>
            @if (TempData[SZHPCMS.Common.Constants.MESSAGE] != null)
            {
                <div class="success">@TempData[SZHPCMS.Common.Constants.MESSAGE]</div>
            }
        </div>
    </div>
    <!-- /. ROW  -->
    <div class="row">
        <div class="col-md-12">

            @using (Html.BeginForm("PerformActionServiceCategory", "EServices"))
            {
                @Html.AntiForgeryToken()
                  <!-- Advanced Tables -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @Html.ActionLink("Create New", "CreateUpdateServiceCategory")                       

                        <span class="float-right"><a href="/EServices/Index" class="fa fa-arrow-left">&nbsp; Back</a></span>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover" id="tblData">
                                <thead>
                                    <tr>
                                        <th class="th-checkbox"><input type="checkbox" id="chkBoxHeader" /></th>
                                        <th>@Html.DisplayNameFor(model => model.CategoryNameEn)</th>
                                        <th>@Html.DisplayNameFor(model => model.CategoryNameAr)</th>
                                        <th class="text-center">@Html.DisplayNameFor(model => model.RowStatus)</th>
                                        <th class="text-center">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td><input type="checkbox" name="chkBoxItem" value="@item.EServiceCategoryId" /></td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CategoryNameEn)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CategoryNameAr)
                                            </td>
                                            <td style="text-align:center">
                                                @Html.DisplayFor(modelItem => item.RowStatus)
                                            </td>
                                            <td class="text-center">
                                                <a onclick="UpdateMenu(this, '/EServices/CreateUpdateServiceCategory')" class="btn btn-primary" data-toggle="tooltip" data-original-title="Edit"><i class="fa fa-pencil-square-o"></i></a>
                                                <a class="btn btn-danger" data-toggle="tooltip" data-original-title="Delete" onclick="DeleteMenu(this, '/EServices/DeleteServiceCategory')"><i class="fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="dv-actions">
                            <div class="form-group">
                                <div class="col-md-4 nopadding">
                                    @Html.DropDownList("ddlActions", (List<SelectListItem>)ViewBag.DropDownMenus)
                                </div>
                                <div class="col-md-8">
                                    <input type="submit" value="Go" class="btn btn-default" id="btnAction" />
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            <!--End Advanced Tables -->
            }
        </div>
    </div>

</div>

@section scripts{

    @Scripts.Render("~/Content/CMSListing");
}